In [33]:
from datenguide_python.query_execution import QueryExecutioner
from itertools import count
from collections import Counter
import pandas as pd

In [2]:
qe = QueryExecutioner()

In [4]:
tmd = qe.get_type_info('Region')

In [14]:
stats = [f for f,v in tmd.fields.items() if 'statistics' in v.get_arguments()]

In [82]:
stat_fields = pd.DataFrame(((s,field) 
                            for s in stats 
                            for field in qe.get_type_info(s).fields.keys()),
              columns=['stat','field'])

stat_fields.field.value_counts().head(15)

value     473
source    473
year      473
id        473
GES        62
NAT        26
KINTE5      9
HWKAT1      7
ALTX01      6
BESUM2      6
ALTN16      5
ABWAT2      5
ALTX12      4
BTART9      4
BAUNW2      4
Name: field, dtype: int64

In [81]:
stat_args = pd.DataFrame(((stat,arg) 
              for stat,v in tmd.fields.items() 
              for arg in v.get_arguments().keys() 
              if 'statistics' in v.get_arguments()),
             columns=['stat','arg'])
stat_args.arg.value_counts().head(15)

year          473
statistics    473
filter        199
GES            62
NAT            26
KINTE5          9
HWKAT1          7
ALTX01          6
BESUM2          6
ABWAT2          5
ALTN16          5
EINAI1          4
ALT544          4
BESUM3          4
PFLTP2          4
Name: arg, dtype: int64

In [84]:
stat_args.query('arg == "filter"')

        stat     arg
15    AEW001  filter
25    AEW007  filter
30    AEW008  filter
34    AEW009  filter
357   AUSNW1  filter
...      ...     ...
1563  WOHN02  filter
1569  WOHN03  filter
1575  WOHN04  filter
1581  WOHNGB  filter
1585  WOHNY1  filter

[199 rows x 2 columns]