In [1]:
from datenguidepy import Query
q = Query.region("01")
field = q.add_field("TIE003")
q.results()

Empty DataFrame
Columns: [id, name]
Index: []

In [2]:
field.add_field('TIEA05')
q.results()

Empty DataFrame
Columns: [id, name]
Index: []

In [3]:
field.add_args({'TIEA05' : 'ALL'})
q.results()

,id,name,year,TIEA05,TIE003,TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,TIERART204141W,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,AGRVART01,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,TIERART20412M,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,TIERART204141M,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,TIERART204141RM,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,AGRVART11,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,TIERART204141M,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,TIERART204141RW,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,TIERART204141RM,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,TIERART204141W,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

In [4]:
from datenguidepy import Query
q = Query.region("01")
field = q.add_field("TIE003") # active field returned.
field.add_field('TIEA05')
field.add_args({'TIEA05' : 'ALL'})
q.results()

,id,name,year,TIEA05,TIE003,TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,TIERART204141W,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,AGRVART01,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,TIERART20412M,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,TIERART204141M,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,TIERART204141RM,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,AGRVART11,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,TIERART204141M,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,TIERART204141RW,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,TIERART204141RM,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,TIERART204141W,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

In [5]:
q.results(verbose_enums=True)

,id,name,year,TIEA05,TIE003,TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,Weibliche Kälber bis einschl. 8 Monate,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,Rinder insgesamt,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,Männliche Rinder 1 bis unter 2 Jahren,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,Männliche Kälber bis einschl. 8 Monate,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,Männl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,Milchkühe,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,Männliche Kälber bis einschl. 8 Monate,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,Weibl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,Männl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,Weibliche Kälber bis einschl. 8 Monate,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

In [6]:
results = q.results(verbose_statistics=True)
results

,id,name,year,TIEA05,Tiere (TIE003),TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,TIERART204141W,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,AGRVART01,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,TIERART20412M,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,TIERART204141M,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,TIERART204141RM,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,AGRVART11,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,TIERART204141M,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,TIERART204141RW,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,TIERART204141RM,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,TIERART204141W,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

In [7]:
_meta_data = q.meta_data()
_meta_data['statistics'] = {'stat1': 'name1', 'stat2': 'name2'}
_meta_data

{'statistics': {'stat1': 'name1', 'stat2': 'name2'},
 'enums': {'TIEA05': {'AGRVART01': 'Rinder insgesamt',
   'AGRVART11': 'Milchkühe',
   'TIERART03A': 'sonstige Kühe',
   'TIERART20412M': 'Männliche Rinder 1 bis unter 2 Jahren',
   'TIERART20412W': 'Weibl. Rinder 1 bis unter 2 J. (nicht abgekalbt)',
   'TIERART20413M': 'Männliche Rinder 2 Jahre und älter',
   'TIERART20413W': 'Weibl. Rinder 2 J. und älter (nicht abgekalbt)',
   'TIERART204141M': 'Männliche Kälber bis einschl. 8 Monate',
   'TIERART204141RM': 'Männl. Jungrinder m. als 8 Mon. b. einschl. 1 Jahr',
   'TIERART204141RW': 'Weibl. Jungrinder m. als 8 Mon. b. einschl. 1 Jahr',
   'TIERART204141W': 'Weibliche Kälber bis einschl. 8 Monate',
   'GESAMT': 'Gesamt'}},
 'units': {'TIE003': 'Anzahl'}}

In [8]:
_statistics = _meta_data['statistics'].keys()
if len(_statistics)==1:
    [value] = _statistics
else: 
    raise NotImplementedError('More than one statistic is not supported. Provided statisitcs: {}'.format(', '.join(_statistics)))

NotImplementedError: More than one statistic is not supported. Provided statisitcs: stat1, stat2

In [15]:
_meta_data = q.meta_data()
_statistics = _meta_data['statistics'].keys()
if len(_statistics)==1:
    [value] = _statistics
else: 
    raise NotImplementedError('More than one statistic is not supported. Provided statisitcs: {}'.format(', '.join(_statistics)))

In [16]:
value

'TIE003'

In [17]:
mask = results.columns.str.contains(value)
import numpy
position = int(numpy.argmax(mask))
position

4

In [18]:
_meta_data['units'][value]

'Anzahl'

In [19]:
results.insert(loc=position, column='unit', value=_meta_data['units'][value])

In [20]:
results

,id,name,year,TIEA05,unit,Tiere (TIE003),TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,TIERART204141W,Anzahl,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,AGRVART01,Anzahl,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,TIERART20412M,Anzahl,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,TIERART204141M,Anzahl,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,TIERART204141RM,Anzahl,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,AGRVART11,Anzahl,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,TIERART204141M,Anzahl,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,TIERART204141RW,Anzahl,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,TIERART204141RM,Anzahl,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,TIERART204141W,Anzahl,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

## Use `Query.results` method to add unit

In [21]:
q.results?

Signature:
q.results(
    verbose_statistics: bool = False,
    verbose_enums: bool = False,
    add_units: bool = False,
) -> pandas.core.frame.DataFrame
Docstring:
Runs the query and returns a Pandas DataFrame with the results.
   It also fills the instance variable result_meta_data with meta
   data specific to the query instance.

Arguments:
    verbose_statistics -- Toggles whether statistic column names
    displayed with their short description in the result data frame
    verbose_enums -- Toggles whether enum values are displayed
    with their short description in the result data frame

:raises RuntimeError: If the query fails raise RuntimeError.
:return: A DataFrame with the queried data.
:rtype: DataFrame
File:      c:\users\kzl465\documents\datenguide-python\datenguidepy\query_builder.py
Type:      method

In [23]:
q.results(verbose_statistics=True, verbose_enums=True, add_units=True)

,id,name,year,TIEA05,unit,Tiere (TIE003),TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,Weibliche Kälber bis einschl. 8 Monate,Anzahl,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,Rinder insgesamt,Anzahl,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,Männliche Rinder 1 bis unter 2 Jahren,Anzahl,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,Männliche Kälber bis einschl. 8 Monate,Anzahl,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,Männl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,Anzahl,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,Milchkühe,Anzahl,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,Männliche Kälber bis einschl. 8 Monate,Anzahl,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,Weibl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,Anzahl,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,Männl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,Anzahl,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,Weibliche Kälber bis einschl. 8 Monate,Anzahl,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None