# Add Units of statitics to query results

## One Statistic several enums

In [1]:
from datenguidepy import Query
q = Query.region("01")
field = q.add_field("TIE003")
q.results()

Empty DataFrame
Columns: [id, name]
Index: []

In [2]:
field.add_field('TIEA05')
q.results()

Empty DataFrame
Columns: [id, name]
Index: []

In [3]:
field.add_args({'TIEA05' : 'ALL'})
q.results()

,id,name,year,TIEA05,TIE003,TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,TIERART204141W,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,AGRVART01,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,TIERART20412M,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,TIERART204141M,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,TIERART204141RM,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,AGRVART11,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,TIERART204141M,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,TIERART204141RW,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,TIERART204141RM,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,TIERART204141W,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

In [4]:
from datenguidepy import Query
q = Query.region("01")
field = q.add_field("TIE003") # active field returned.
field.add_field('TIEA05')
field.add_args({'TIEA05' : 'ALL'})
q.results()

,id,name,year,TIEA05,TIE003,TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,TIERART204141W,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,AGRVART01,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,TIERART20412M,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,TIERART204141M,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,TIERART204141RM,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,AGRVART11,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,TIERART204141M,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,TIERART204141RW,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,TIERART204141RM,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,TIERART204141W,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

In [5]:
q.results(verbose_enums=True)

,id,name,year,TIEA05,TIE003,TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,Weibliche Kälber bis einschl. 8 Monate,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,Rinder insgesamt,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,Männliche Rinder 1 bis unter 2 Jahren,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,Männliche Kälber bis einschl. 8 Monate,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,Männl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,Milchkühe,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,Männliche Kälber bis einschl. 8 Monate,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,Weibl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,Männl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,Weibliche Kälber bis einschl. 8 Monate,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

In [6]:
results = q.results(verbose_statistics=True)
results

,id,name,year,TIEA05,Tiere (TIE003),TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,TIERART204141W,126776,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,AGRVART01,1166022,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,TIERART20412M,112161,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,TIERART204141M,106534,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,TIERART204141RM,46616,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,AGRVART11,376902,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,TIERART204141M,72270,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,TIERART204141RW,56989,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,TIERART204141RM,27685,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,TIERART204141W,118951,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

In [7]:
_meta_data = q.meta_data()
_meta_data['statistics'] = {'stat1': 'name1', 'stat2': 'name2'}
_meta_data

{'statistics': {'stat1': 'name1', 'stat2': 'name2'},
 'enums': {'TIEA05': {'AGRVART01': 'Rinder insgesamt',
   'AGRVART11': 'Milchkühe',
   'TIERART03A': 'sonstige Kühe',
   'TIERART20412M': 'Männliche Rinder 1 bis unter 2 Jahren',
   'TIERART20412W': 'Weibl. Rinder 1 bis unter 2 J. (nicht abgekalbt)',
   'TIERART20413M': 'Männliche Rinder 2 Jahre und älter',
   'TIERART20413W': 'Weibl. Rinder 2 J. und älter (nicht abgekalbt)',
   'TIERART204141M': 'Männliche Kälber bis einschl. 8 Monate',
   'TIERART204141RM': 'Männl. Jungrinder m. als 8 Mon. b. einschl. 1 Jahr',
   'TIERART204141RW': 'Weibl. Jungrinder m. als 8 Mon. b. einschl. 1 Jahr',
   'TIERART204141W': 'Weibliche Kälber bis einschl. 8 Monate',
   'GESAMT': 'Gesamt'}},
 'units': {'TIE003': 'Anzahl'}}

In [8]:
_statistics = _meta_data['statistics'].keys()
if len(_statistics)==1:
    [value] = _statistics
else: 
    raise NotImplementedError('More than one statistic is not supported. Provided statisitcs: {}'.format(', '.join(_statistics)))

NotImplementedError: More than one statistic is not supported. Provided statisitcs: stat1, stat2

In [9]:
_meta_data = q.meta_data()
_statistics = _meta_data['statistics'].keys()
if len(_statistics)==1:
    [statistic] = _statistics
else: 
    raise NotImplementedError('More than one statistic is not supported. Provided statisitcs: {}'.format(', '.join(_statistics)))

In [10]:
statistic

'TIE003'

In [11]:
mask = results.columns.str.contains(statistic)
import numpy
position = int(numpy.argmax(mask))
position

4

In [12]:
_meta_data['units'][statistic]

'Anzahl'

In [13]:
results.insert(loc=position+1, column=f'{statistic}_unit', value=_meta_data['units'][statistic])

In [14]:
results

,id,name,year,TIEA05,Tiere (TIE003),TIE003_unit,TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,TIERART204141W,126776,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,AGRVART01,1166022,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,TIERART20412M,112161,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,TIERART204141M,106534,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,TIERART204141RM,46616,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,AGRVART11,376902,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,TIERART204141M,72270,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,TIERART204141RW,56989,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,TIERART204141RM,27685,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,TIERART204141W,118951,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

## Use `Query.results` method to add unit

In [15]:
q.results?

Signature:
q.results(
    verbose_statistics: bool = False,
    verbose_enums: bool = False,
    add_units: bool = False,
) -> pandas.core.frame.DataFrame
Docstring:
Runs the query and returns a Pandas DataFrame with the results.
   It also fills the instance variable result_meta_data with meta
   data specific to the query instance.

Arguments:
    verbose_statistics -- Toggles whether statistic column names
    displayed with their short description in the result data frame
    verbose_enums -- Toggles whether enum values are displayed
    with their short description in the result data frame

:raises RuntimeError: If the query fails raise RuntimeError.
:return: A DataFrame with the queried data.
:rtype: DataFrame
File:      c:\users\kzl465\documents\datenguide-python\datenguidepy\query_builder.py
Type:      method

In [16]:
q.results(verbose_statistics=True, verbose_enums=True, add_units=True)

,id,name,year,TIEA05,Tiere (TIE003),TIE003_unit,TIE003_source_title_de,TIE003_source_valid_from,TIE003_source_periodicity,TIE003_source_name,TIE003_source_url
0,01,Schleswig-Holstein,2009,Weibliche Kälber bis einschl. 8 Monate,126776,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
1,01,Schleswig-Holstein,2009,Rinder insgesamt,1166022,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
2,01,Schleswig-Holstein,2009,Männliche Rinder 1 bis unter 2 Jahren,112161,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
3,01,Schleswig-Holstein,2009,Männliche Kälber bis einschl. 8 Monate,106534,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
4,01,Schleswig-Holstein,2009,Männl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,46616,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
...,...,...,...,...,...,...,...,...,...,...,...
116,01,Schleswig-Holstein,2019,Milchkühe,376902,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
117,01,Schleswig-Holstein,2019,Männliche Kälber bis einschl. 8 Monate,72270,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
118,01,Schleswig-Holstein,2019,Weibl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,56989,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
119,01,Schleswig-Holstein,2019,Männl. Jungrinder m. als 8 Mon. b. einschl. 1 ...,27685,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None
120,01,Schleswig-Holstein,2019,Weibliche Kälber bis einschl. 8 Monate,118951,Anzahl,Erhebung über die Rinderbestände,2000-05-03T00:00:00,HALBJAEHRLICH,41312,None

## Two Statistics

In [17]:
q = Query.region("01")
q.add_field('AI0203')
q.add_field('AI0204')
q.add_field('AI0205')
q.add_field('AI0206')
q.add_field('AI0207')
q.add_field('AI1902')
result = q.results()
result.head()

,id,name,year,AI0203,AI0204,AI0205,AI0206,AI0207,AI1902,AI0203_source_title_de,...,AI0207_source_title_de,AI0207_source_valid_from,AI0207_source_periodicity,AI0207_source_name,AI0207_source_url,AI1902_source_title_de,AI1902_source_valid_from,AI1902_source_periodicity,AI1902_source_name,AI1902_source_url
0,01,Schleswig-Holstein,1995,18.6,7.9,31.1,26.4,16.0,NaN,Regionalatlas Deutschland,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,NaN,NaN,NaN,NaN,NaN
1,01,Schleswig-Holstein,2000,19.1,7.2,30.2,26.7,16.8,NaN,Regionalatlas Deutschland,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,NaN,NaN,NaN,NaN,NaN
2,01,Schleswig-Holstein,2005,18.6,7.3,28.3,26.0,19.8,231.7,Regionalatlas Deutschland,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
3,01,Schleswig-Holstein,2006,18.3,7.4,27.7,26.1,20.4,230.9,Regionalatlas Deutschland,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
4,01,Schleswig-Holstein,2007,18.0,7.6,27.2,26.4,20.8,228.4,Regionalatlas Deutschland,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None

In [18]:
meta = q.meta_data()
meta

{'statistics': {'AI0203': 'Bevölkerung 0 bis 17 Jahre',
  'AI0204': 'Bevölkerung 18 bis 24 Jahre',
  'AI0205': 'Bevölkerung 25 bis 44 Jahre',
  'AI0206': 'Bevölkerung 45 bis 64 Jahre',
  'AI0207': 'Bevölkerung 65 Jahre und älter',
  'AI1902': 'Haus- und Sperrmüll'},
 'enums': {},
 'units': {'AI0203': 'Prozent',
  'AI0204': 'Prozent',
  'AI0205': 'Prozent',
  'AI0206': 'Prozent',
  'AI0207': 'Prozent',
  'AI1902': 'kg'}}

## Adding units to each statistic

For each statistic, a new unit column is added, using the pattern `<statistic>_unit`. This allows to easily append the suffix `_unit` to an entry of `<stastic>`used for retrieving the data. This programtically easier than to rename the statistic column and include a name, e.g. `<statistic> [in <unit>]`. Both options could be provided.

In [19]:
df = result.copy()

In [20]:
import numpy

results = df.copy()
def add_unit(statistic, unit):
    """uses results dataframe and unit from global namespace. Add to class?"""
    mask = results.columns.str.contains(statistic)
    position = int(numpy.argmax(mask))
    results.insert(loc=position+1, column=f'{statistic}_unit', value=unit)

for statistic, unit in meta['units'].items():
    print(f"Statistic: {statistic}, unit: {unit}")
    add_unit(statistic, unit)
  
results.iloc[:,:16]

Statistic: AI0203, unit: Prozent
Statistic: AI0204, unit: Prozent
Statistic: AI0205, unit: Prozent
Statistic: AI0206, unit: Prozent
Statistic: AI0207, unit: Prozent
Statistic: AI1902, unit: kg

,id,name,year,AI0203,AI0203_unit,AI0204,AI0204_unit,AI0205,AI0205_unit,AI0206,AI0206_unit,AI0207,AI0207_unit,AI1902,AI1902_unit,AI0203_source_title_de
0,01,Schleswig-Holstein,1995,18.6,Prozent,7.9,Prozent,31.1,Prozent,26.4,Prozent,16.0,Prozent,NaN,kg,Regionalatlas Deutschland
1,01,Schleswig-Holstein,2000,19.1,Prozent,7.2,Prozent,30.2,Prozent,26.7,Prozent,16.8,Prozent,NaN,kg,Regionalatlas Deutschland
2,01,Schleswig-Holstein,2005,18.6,Prozent,7.3,Prozent,28.3,Prozent,26.0,Prozent,19.8,Prozent,231.7,kg,Regionalatlas Deutschland
3,01,Schleswig-Holstein,2006,18.3,Prozent,7.4,Prozent,27.7,Prozent,26.1,Prozent,20.4,Prozent,230.9,kg,Regionalatlas Deutschland
4,01,Schleswig-Holstein,2007,18.0,Prozent,7.6,Prozent,27.2,Prozent,26.4,Prozent,20.8,Prozent,228.4,kg,Regionalatlas Deutschland
5,01,Schleswig-Holstein,2008,17.7,Prozent,7.7,Prozent,26.5,Prozent,26.8,Prozent,21.3,Prozent,224.8,kg,Regionalatlas Deutschland
6,01,Schleswig-Holstein,2009,17.4,Prozent,7.8,Prozent,25.8,Prozent,27.3,Prozent,21.6,Prozent,226.7,kg,Regionalatlas Deutschland
7,01,Schleswig-Holstein,2010,17.2,Prozent,7.9,Prozent,25.2,Prozent,28.2,Prozent,21.6,Prozent,223.4,kg,Regionalatlas Deutschland
8,01,Schleswig-Holstein,2011,17.0,Prozent,7.7,Prozent,24.1,Prozent,29.3,Prozent,21.9,Prozent,233.6,kg,Regionalatlas Deutschland
9,01,Schleswig-Holstein,2012,16.7,Prozent,7.7,Prozent,23.5,Prozent,29.9,Prozent,22.1,Prozent,229.9,kg,Regionalatlas Deutschland
10,01,Schleswig-Holstein,2013,16.6,Prozent,7.7,Prozent,23.1,Prozent,30.3,Prozent,22.3,Prozent,223.6,kg,Regionalatlas Deutschland
11,01,Schleswig-Holstein,2014,16.4,Prozent,7.7,Prozent,22.8,Prozent,30.6,Prozent,22.6,Prozent,234.1,kg,Regionalatlas Deutschland
12,01,Schleswig-Holstein,2015,16.3,Prozent,7.7,Prozent,22.8,Prozent,30.6,Prozent,22.6,Prozent,230.5,kg,Regionalatlas Deutschland
13,01,Schleswig-Holstein,2016,16.4,Prozent,7.7,Prozent,22.6,Prozent,30.5,Prozent,22.7,Prozent,229.1,kg,Regionalatlas Deutschland
14,01,Schleswig-Holstein,2017,16.3,Prozent,7.7,Prozent,22.6,Prozent,30.5,Prozent,22.9,Prozent,227.9,kg,Regionalatlas Deutschland

In [21]:
q.results(verbose_statistics=True, verbose_enums=True, add_units=True)

,id,name,year,Bevölkerung 0 bis 17 Jahre (AI0203),AI0203_unit,Bevölkerung 18 bis 24 Jahre (AI0204),AI0204_unit,Bevölkerung 25 bis 44 Jahre (AI0205),AI0205_unit,Bevölkerung 45 bis 64 Jahre (AI0206),...,AI0207_source_title_de,AI0207_source_valid_from,AI0207_source_periodicity,AI0207_source_name,AI0207_source_url,AI1902_source_title_de,AI1902_source_valid_from,AI1902_source_periodicity,AI1902_source_name,AI1902_source_url
0,01,Schleswig-Holstein,1995,18.6,Prozent,7.9,Prozent,31.1,Prozent,26.4,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,NaN,NaN,NaN,NaN,NaN
1,01,Schleswig-Holstein,2000,19.1,Prozent,7.2,Prozent,30.2,Prozent,26.7,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,NaN,NaN,NaN,NaN,NaN
2,01,Schleswig-Holstein,2005,18.6,Prozent,7.3,Prozent,28.3,Prozent,26.0,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
3,01,Schleswig-Holstein,2006,18.3,Prozent,7.4,Prozent,27.7,Prozent,26.1,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
4,01,Schleswig-Holstein,2007,18.0,Prozent,7.6,Prozent,27.2,Prozent,26.4,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
5,01,Schleswig-Holstein,2008,17.7,Prozent,7.7,Prozent,26.5,Prozent,26.8,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
6,01,Schleswig-Holstein,2009,17.4,Prozent,7.8,Prozent,25.8,Prozent,27.3,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
7,01,Schleswig-Holstein,2010,17.2,Prozent,7.9,Prozent,25.2,Prozent,28.2,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
8,01,Schleswig-Holstein,2011,17.0,Prozent,7.7,Prozent,24.1,Prozent,29.3,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
9,01,Schleswig-Holstein,2012,16.7,Prozent,7.7,Prozent,23.5,Prozent,29.9,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
10,01,Schleswig-Holstein,2013,16.6,Prozent,7.7,Prozent,23.1,Prozent,30.3,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
11,01,Schleswig-Holstein,2014,16.4,Prozent,7.7,Prozent,22.8,Prozent,30.6,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
12,01,Schleswig-Holstein,2015,16.3,Prozent,7.7,Prozent,22.8,Prozent,30.6,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
13,01,Schleswig-Holstein,2016,16.4,Prozent,7.7,Prozent,22.6,Prozent,30.5,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None
14,01,Schleswig-Holstein,2017,16.3,Prozent,7.7,Prozent,22.6,Prozent,30.5,...,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None,Regionalatlas Deutschland,1995-01-01T00:00:00,JAEHRLICH,99910,None