In [1]:
%cd ..

/home/konrad/programming/python/correlaid/datenguide-python

In [2]:
from datenguidepy.query_helper import get_all_regions,get_statistics,get_available_data_summary

In [3]:
region_details = get_all_regions()
region_details.head()

                      name  level parent
id
10                Saarland  nuts1     DG
11                  Berlin  nuts1     DG
12             Brandenburg  nuts1     DG
13  Mecklenburg-Vorpommern  nuts1     DG
14                 Sachsen  nuts1     DG

In [4]:
statistics_details = get_statistics()
statistics_details.head()

,statistics,short_description,long_description
0,RLE001,Regelleistungsempfänger,Regelleistungsempfänger\n \n \nErläuterung für...
1,BEV002,Gestorbene,Gestorbene\n \n \nErläuterung für folgende Sta...
2,FLCX05,Bodenfläche,Bodenfläche\n \n \nErläuterung für folgende St...
3,FLC005,Bodenfläche,Bodenfläche\n\n\nErläuterung für folgende Stat...
4,KIND35,Kinder,Missing

In [7]:
availibility_summary = get_available_data_summary()
availibility_summary.head()

                    region_name  entries  start_year  end_year
region_id statistic
10        RLE001       Saarland        9      2010.0    2018.0
          BEV002       Saarland       23      1995.0    2017.0
          FLCX05       Saarland       11      1996.0    2015.0
          FLC005       Saarland        3      2016.0    2018.0
11        RLE001         Berlin        9      2010.0    2018.0